html, body {
        font-family: 'Poppins', sans-serif;
        width: 100%; /* Set the width of the body */
        max-width: 1200px; /* Optional: Limit the maximum width */
        margin: 0 auto; /* Center the body horizontally */
    }
    

@font-face {
    font-family: 'Balgin Bold';
    src: url('fonts/Balgin-Bold.woff2') format('woff2'),
         url('fonts/Balgin-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

